@import "reset.css";

.header {
    background: url(../img/head-bg.jpg);
    background-size: cover;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
}


.header__nav {
    font-family: 'Montserrat', sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 0 0 0;
}

.header__logo {
    color: #ffffff;
    font-size: 24px;
    font-weight: 700;
    letter-spacing: normal;
    line-height: 150%;
    /* padding: 0 510px 0 0; */
}

.header__item > ul{
    display: flex;
    align-items: center;
    color: #ffffff;
    font-size: 14px;
    font-weight: 500;
    line-height: 170%;
    letter-spacing: 0.35px;
}

.header__item > ul > li{
    padding: 0 16px;
}

.header__item > ul > li > a{
    text-decoration: none;
    color: #fff;
}

.header__content {
    padding: 264px 0 0 0;
    color: #ffffff;
    text-align: center;
    font-weight: 400;
}

.header__title {
    font-family: "Roboto Slab";
    font-size: 48px;
    line-height: 50%;
    padding: 0 0 30px 0;
    text-transform: uppercase;
}

.header__text {
    font-family: "Roboto Slab";
    font-size: 20px;
    line-height: 120%;
}

.header__button {
    padding: 70px 0 280px 0;
}

.header__button > a{
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    font-size: 16px;
    line-height: 150%;
    text-transform: uppercase;
    border: 2px solid #fff;
    padding: 19px 34px 18px 35px;
}

/* ----------------SERVICES---------------- */

.services__content {
    margin-top: 100px;
    text-align: center;
}


.title{
    font-family: 'Montserrat', sans-serif;
    color: #555555;
    font-size: 20px;
    font-weight: 600;
    line-height: 120%;
    text-transform: uppercase;
}


.services__title {
    font-family: 'Montserrat', sans-serif;
    color: #555555;
    font-size: 20px;
    font-weight: 600;
    line-height: 120%;
    text-transform: uppercase;
    padding: 0 0 30px 0;
}

.services__stick {
    width: 50px;
    height: 2px;
    background-color: #555555;
    margin: 0 auto;
    margin-bottom: 30px;
}

.stick{
    width: 50px;
    height: 2px;
    background-color: #555555;
    margin: 0 auto;
    margin-bottom: 30px;
}

.services__text {
    font-family: "Roboto Slab";
    color: #555555;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    padding: 0 0 70px 0;
}

.services__who {
    display: flex;
    margin: 0 0 100px 0;
}

.services__item {
    margin: 0 35px 0 0;
}

.services__img {
    padding-bottom: 30px;
}

.services__name {
    color: #555555;
    font-size: 14px;
    font-weight: 400;
    line-height: 170%;
    padding: 0 0 25px 0;
}

.__name{
    font-family: 'Montserrat', sans-serif;
    color: #555555;
    font-size: 14px;
    font-weight: 600;
    line-height: 170%;
    text-transform: uppercase;
}

.services__discription {
    color: #555555;
    font-family: "Roboto Slab";
    font-size: 14px;
    line-height: 170%;
}

.__description{
    color: #555555;
    font-family: "Roboto Slab";
    font-size: 14px;
    line-height: 170%;
}


/* ----------------ABOUTUS---------------- */

.about{
    background-color: #f8f8f8;
}

.about__top {
    padding-top: 100px;
    text-align: center;
}

.about__title {
    padding: 0 0 30px 0;
}


.about__text {
    padding: 0 30px 70px 0;
    font-weight: 500;
}

.about__discriptions {
    display: flex;
    margin:  0 -30px 0 0;
}


.people__items {
    display: flex;
    margin: 0 -15px;
}

.people__info {
    display: flex;
    flex-direction: column;
    padding: 0 15px;
    text-align: center;
}

.people__name{
    font-family: 'Montserrat', sans-serif;
    padding: 20px 0 0 0;
    color: #555555;
    font-size: 14px;
    font-weight: 600;
    line-height: 24px;
    text-transform: uppercase;
    padding: 20px 0 15px 0;
}

.people__skills{
    color: #555555;
    font-family: "Roboto Slab";
    font-size: 13px;
    font-weight: 400;
    line-height: 24px;
}
